@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root {
  --background: #122c34;
  --highlight: #f4b942;
  --light: #ececec;
  --primary: #93b7be;
  --secondary: #b3ccd1;
  --dark: #0A1A1E;
}

body {
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 0 70px;
}

@media (max-width: 800px) {
  section {
    padding: 0px;
    margin: 0px;
  }
}


h1 {
  color: var(--light);
  font-size: 3em;
  margin: 0;
}

h2 {
  color: var(--secondary);
  font-size: 2.5em;
  margin: 0;
}

h4 {
  color: var(--highlight);
  margin: 20px 0;
  font-weight: 600;
}

p {
  font-weight: 20px;
  color: var(--secondary);
  margin: 0;
  line-height: 1.4em;
}

.highlight-text {
  color: var(--highlight);
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li {
  color: var(--highlight);
  margin-left: 15px;
}

.topnav {
  display: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: var(--dark);
  color: white;
}
  
  @media (max-width: 600px) {
    nav {
      display: none;
    }

    .topnav {
      display: block;
    }

    html {
      width: fit-content;
    }
}
