@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root {
  --background: #122c34;
  --highlight: #f4b942;
  --light: #ececec;
  --primary: #93b7be;
  --secondary: #b3ccd1;
  --dark: #0A1A1E;
}

body {
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 0 70px;
}

@media (max-width: 800px) {
  section {
    padding: 0px;
    margin: 0px;
  }
}


h1 {
  color: var(--light);
  font-size: 3em;
  margin: 0;
}

h2 {
  color: var(--secondary);
  font-size: 2.5em;
  margin: 0;
}

h4 {
  color: var(--highlight);
  margin: 20px 0;
  font-weight: 600;
}

p {
  font-weight: 20px;
  color: var(--secondary);
  margin: 0;
  line-height: 1.4em;
}

.highlight-text {
  color: var(--highlight);
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li {
  color: var(--highlight);
  margin-left: 15px;
}



/* html, body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  /* Change the link color to #111 (black) on hover */
  /* nav li a:hover {
    background-color: rgb(83, 94, 128);
  }
  
  h1 {
    font-size: 3em;
    color: #666;
    margin: 18px 5px;
  }

  h2 {
    font-size: 2em;
    color: #777;
    margin: 10px 5px;
  }

  h4 {
    font-size: 1.2em;
    margin: 5px;
  }
  
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
  
  h4, h5, h6, p, li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #444;
  }
  
  main {
    height: auto;
    margin-top: 60px;
  }
  
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
  }
  
  button {
    background-color: rgb(57, 101, 160);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 15px;
    transition: all .2s ease-in-out;
    margin: 20px 0;
    font-size: 1em;
  }
  
  button:hover {
    transform: scale(1.1);
  }

  .bold-li {
    font-weight: bold;
    margin: 10px;
  } */

  /* Style the navigation menu */
.topnav {
  display: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: var(--dark);
  color: white;
}
  
  @media (max-width: 600px) {
    nav {
      display: none;
    }

    .topnav {
      display: block;
    }
}
